<div class="section wf-section">
    <div class="main-container">
      <div class="big-text less-bottom-padding">{{ texts.-17593503 }}</div>
      <a href="{{ links.77a9a93f }}" target="_blank" class="button">{{ texts.70c46bcc }}</a>
    </div>
  </div>